## File contains environment specific or secret values. Copy this file and remove the .example suffix to use on you local machine.

## Database credentials

#spring.datasource.url=jdbc:h2:file:/data/demo <-- Use this if you want to persist to file
spring.datasource.url=jdbc:h2:mem:userregistration # <-- Volatile. New database every time app boots.
spring.datasource.driverClassName=org.h2.Driver
spring.datasource.username=sa
spring.datasource.password=password
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.h2.console.enabled=true

#Redis
spring.redis.host=127.0.0.1
spring.redis.password=password
spring.redis.port=6379

#MySQL (not used in dev process)
#spring.datasource.url=jdbc:mysql://path.to.database
#spring.datasource.username=username
#spring.datasource.password=password